.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 80px;
  gap: 64px;
  font-family: var(--font-geist-sans);
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
}

.main ol {
  font-family: var(--font-geist-mono);
  padding-left: 0;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.01em;
  list-style-position: inside;
}

.main li:not(:last-of-type) {
  margin-bottom: 8px;
}

.main code {
  font-family: inherit;
  background: var(--gray-alpha-100);
  padding: 2px 4px;
  border-radius: 4px;
  font-weight: 600;
}

.ctas {
  display: flex;
  gap: 16px;
}

.ctas a {
  appearance: none;
  border-radius: 128px;
  height: 48px;
  padding: 0 20px;
  border: none;
  border: 1px solid transparent;
  transition:
    background 0.2s,
    color 0.2s,
    border-color 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

a.primary {
  background: var(--foreground);
  color: var(--background);
  gap: 8px;
}

a.secondary {
  border-color: var(--gray-alpha-200);
  min-width: 180px;
}

.footer {
  grid-row-start: 3;
  display: flex;
  gap: 24px;
}

.footer a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer img {
  flex-shrink: 0;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media (max-width: 600px) {
  .page {
    padding: 32px;
    padding-bottom: 80px;
  }

  .main {
    align-items: center;
  }

  .main ol {
    text-align: center;
  }

  .ctas {
    flex-direction: column;
  }

  .ctas a {
    font-size: 14px;
    height: 40px;
    padding: 0 16px;
  }

  a.secondary {
    min-width: auto;
  }

  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}

.entrar button {
  background-color: #3ce270;
  border: none;
  color: white;
  padding: 0.6rem 1.2rem;
  border-radius: 12px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-right: 10px;
}

.entrar button:hover {
  background-color: #666e67; 
}

/* 
main{

} */

.banner{
  display: flex;
  align-items: center;
  background-color: #f8f9fa; /* Fundo claro */
  max-width: 100%; /* Largura máxima */
  margin: 0; /* Centraliza o banner na página */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
  
}

.image-banner img {
  width: 100%;
  max-width: 700px; /* Limita a largura da imagem */
  border-radius: 10px; /* Bordas arredondadas */
  object-fit: cover; /* Ajusta o conteúdo da imagem */
}

.texto-banner {
  margin-left: 10%;
  max-width: 400px; /* Limita a largura do texto */
}

.texto-banner h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #111827; /* Tom de cinza escuro */
}

.texto-banner p {
  font-size: 1.1rem;
  line-height: 1.5;
  color: #6b7280; /* Tom de cinza médio */
  margin-bottom: 1.5rem;
}





.livros_card h1{
  margin-left: 2%;
  color: #111827;
}



.card__item{
  background-color: white;
  box-shadow: .1rem .1rem .2rem black;
  display: flex;
  flex-direction: column;
  flex: 0 15vw;

  img{
    width: 100%;
      margin-top: 10%;
      max-width: 100%;
      aspect-ratio: 16/10;
      object-fit: contain;
  }

  .card__name{
      font-size: 22px;
      font-weight: 600;
      color: rgb(37, 37, 37);
      padding-top: 2%;
      align-self: center;
  }

  .card__genre{
      padding-top: 1%;
      text-align: center;
  }

  .card__price{
      color: rgb(37, 37, 37);
      padding: 5%;
      text-align: center;
  }



  button{
      width: 40%;
      height: 10%;
      align-self: center;
      margin-top: 8%;
      color: white;
      cursor: pointer;
      border-radius: 10rem;
      transition: transform .5s;
      margin-bottom: 5%;
  }

  button:hover{
      background-color: #374151;
      transform: scale(1.1);
  }
} 

h1{
  text-align: center;
  color: #3ce270;
  margin: 20px auto;
}